/*----------------------------------------------------------------*/


/*------------------BASIC SETUP-----------------------------------*/


/*----------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
}

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.5s, color 0.5s;
}

a:active,
a:hover {
    color: #555;
    border-bottom: 1px solid transparent;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*----------------------------------------------------------------*/


/*------------------Header-----------------------------------*/


/*----------------------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

section {
    padding: 80px 0;
}

h1 {
    color: #fff;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;
}


/*--------------------Section Features ------------------*/

h2 {
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 300;
}

h2:after {
    height: 2px;
    display: block;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy {
    font-size: 22px;
    font-weight: 200;
    line-height: 145%;
    margin-left: 15%;
    width: 70%;
}

.box {
    padding: 1%;
}

.box h3 {
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.box p {
    font-size: 16px;
    font-weight: 100;
}

i {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    font-size: 350%;
    color: #e67e22;
    margin-left: 25%;
}

.container {
    max-width: 1140px;
}


/*.container-cities {
    max-width: 1366px;
}
*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
}


/*-----------------------------Meals ---------------------------------*/

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    margin: 0;
    display: block;
    float: left;
    width: 25%;
}

.section-meals {
    margin-top: -70px;
    padding: 0;
}

.section-meals ul {
    margin-bottom: 0;
}

figure {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.meals-showcase figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #000;
}

.meals-showcase li img {
    width: 100%;
    padding: 0;
    height: auto;
    opacity: 0.5;
    transform: scale(1.15);
    transition: transform 0.3s, opacity 0.5s;
}

.meals-showcase li img:hover {
    opacity: 1;
    transform: scale(1.07);
}


/*-----------------How it workds ------------------------*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 10%;
}

.steps-box:last-child {
    padding-right: 3%;
    margin-top: 55px;
}

.app-screen {
    width: 45%;
}

.works-step {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 100;
}

.works-step div {
    color: #e67e22;
    display: inline-block;
    border: 1px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    margin-right: 25px;
}

.works-step p {
    line-height: 1em;
    text-align: center;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
}


/*--------------------Cities -----------------------------*/

.box {
    font-weight: 100;
    font-size: 18px;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-features {
    margin-bottom: 5px;
    font-weight: 100;
}

.icon-small {
    font-size: 150%;
    margin-left: 0;
    margin-right: 10px;
}


/*---------------------Customers------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/back-customers.jpg');
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    font-size: 18px;
    font-weight: 100;
    padding: 2%;
    font-style: italic;
    line-height: 140%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    font-size: 15px;
    margin-top: 15px;
    display: block;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* ------------------ NAV ------------------------------*/

.logo {
    height: 100px;
    float: left;
    width: auto;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    float: left;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
    transition: border-bottom 1s;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/*----------------------------------------------------------------*/


/*------------------BUTTONS-----------------------------------*/


/*----------------------------------------------------------------*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 200px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}